<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a new item</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Create a new item</h1>
        <form method="post">
        {% comment %} why is this duplicating my input {% endcomment %}
        {% csrf_token %}
        {{ form.as_p }}
        <p>
          <label for="task">Task:</label>
          <input type="text" id="task" name="task"><br><br>
          <label for="due_date">Due Date:</label>
          <input type="text" id="due_date" name="due_date"><br><br>
          <label for="is_completed">Is Completed:</label>
          <input type="checkbox" id="is_completed" name="is_completed"><br><br>
          <label for="list">List:</label>
          <select id="list" name="list">
            <option value="groceries">Groceries</option>
            <option value="work">Work</option>
            <option value="personal">Personal</option>
          </select><br><br>
          <button type="submit">Create</button>
        </form>
      </div>
    </main>
  </body>
</html>
